// ===== HEADER =====

.site-header {
  background-color: $color-header-bg;
  color: $color-light;
  width: 100%;
}

.header-inner {
  max-width: $header-max-width;
  margin: 0 auto;
  padding: 0px $header-padding-x 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

// Logo
.site-logo svg,
.site-logo img {
  margin-top: 5px;
  height: 65px;
  width: auto;
}

// ===== NAV =====

.site-nav {
  flex: 1;
  display: flex;
  justify-content: center;
}

.nav-menu {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: $nav-gap;
}

// Item
.nav-menu li {
  position: relative;
}

// Separador vertical |
.nav-menu li + li::before {
  content: "";
  position: absolute;
  left: calc(-#{$nav-gap} / 2);
  top: 50%;
  transform: translateY(-50%);
  width: 1px;
  height: $nav-divider-height;
  background-color: $nav-divider-color;
}

// Links
.nav-menu a {
  display: inline-block;
  padding: 1.75rem 0;
  color: $color-nav;
  font-size: $nav-font-size;
  font-weight: 400;
  letter-spacing: 0.03em;
  text-decoration: none;
  transition: color 0.2s ease;

  &:hover {
    color: $color-accent;
  }
}

// Activo
.nav-menu .current-menu-item > a,
.nav-menu .current_page_item > a {
  color: $color-accent;
}

// CTA
.header-cta .btn {
  background: $color-accent;
  color: #1f1f1f;
  padding: 10px 18px;
  font-size: $nav-font-size;
  font-weight: 600;
  text-decoration: none;
}
